.butto{
    background-color: #D3D3D3;
    color: black;
    font-weight: 500;
    border: none;
    /* margin-right: 50px; */
}
.buttn{
    background-color: red;
    color: white;
    font-weight: 500;
    border: none;
    /* margin-right: 50px; */
}
